<!-- NOTE: I have noted where I would like to create new directives. The code is modular enough such that I can refactor easily, however I did not have the time to do so -->

<!-- NAV -->
<bc-navbar title={{header}} navigation="navOptions"></bc-navbar>
<!-- MAIN CONTAINER -->
<div class="container">

  <!-- TODO MAKE CARD DIRECTIVE -->
  <div class="column">
    <!-- WELCOME CARD -->
    <div ng-show="addNewBook && !bookForm" class="card shadow">
      <div class="card-body">
        <h1 class="welcome">{{welcome.greeting}}</h1>
        <p class="welcome-body">{{welcome.message}}</p>
        <p class="welcome-body">{{welcome.followup}}</p>
      </div>
      <div class="card-footer">
        <a href="" ng-click="addNewBook = false" class="left-text">No</a>
        <a href="" ng-click="bookForm = true" class="right-text">Yes</a>
      </div>
    </div>

    <bc-card title={{welcome.greeting}} links="welcome.links">
      <p>{{welcome.message}}</p>
      <p>{{welcome.followup}}</p>
    </bc-card>

    <!-- BOOK FORM -->
    <div ng-show="bookForm" class="book-form card shadow">
      <form>
        <!-- TODO: MAKE FORM DIRECTIVE -->
        <div class="card-body">
          <h1 class="welcome">Enter a Book</h1>
          <input ng-model="newBook.title" type="text" placeholder="Title" />
          <input ng-model="newBook.author" type="text" placeholder="Author" />
        </div>
        <div class="card-footer">
          <input class="left-text" type="button" ng-click="reset()" value="Reset" />
          <input class="right-text" type="submit" ng-click="updateBooks(newBook)" value="Submit" />
        </div>
      </form>
    </div>

    <!-- BOOKS -->
    <div ng-repeat="book in books" class="card shadow book-card">
      <div class="card-img-container">
        <img class="book-img" src="{{book.img}}">
      </div>
      <div class="subelement subcontainer">
        <div class="card-body">
          <h1>{{book.title}}</h1>
          <p class="author">By {{book.author}}</p>
        </div>
        <div class="card-footer">
          <a href="" class="left-text">Free Sample</a>
          <a href="" class="right-text">Review</a>
        </div>
      </div>
    </div>
  </div>

  <!-- ARTICLE COLUMN -->
  <div class="column">
    <!-- ARTICLES -->
    <div ng-repeat="article in articles" class="card shadow article-card">
      <div class="card-img-container">
        <img class="article-img" src="{{article.img}}">
      </div>
      <div class="subelement subcontainer">
        <div class="card-body">
          <p class="article-issue">{{article.issue}}</p>
          <p class="article-text">{{article.place}}</p>
          <p class="article-text">{{article.location}}</p>
        </div>
        <div class="card-footer">
          <a href="" class="left-text">Share</a>
          <a href="" class="right-text">Explore</a>
        </div>
      </div>
    </div>
  </div>
</div>