$dark-grey: rgb(105, 105, 105);
$medium-grey: rgb(223, 223, 223);
$light-grey: rgb(227, 227, 227);
$orange: rgb(253, 170, 59);
$white: rgb(255, 255, 255);
$pink: rgb(232, 30, 99);

$darken: rgba(0, 0, 0, 0.5);
$shadow: rgba(0, 0, 0, 0.2);