body {
  font-family: 'Roboto';
  margin: 0;
  font-size: 65%;
  background-color: rgb(227, 227, 227);
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.25em;
}

header {
  height: 64px;
  padding: 20px;
  background-color: rgb(232, 30, 99);  
}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav li {
  list-style-type: none;
  padding: 20px;
  border-bottom: rgb(223, 223, 223) solid 1px;
  cursor: pointer;
}

nav {
  z-index: 5;
  position: fixed;
  top: 64px;
  left: 0;
  font-size: 1em;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
}

.top-bar {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

.container > * {
  flex: 1 100%;
}

.head-title {
  color: rgb(255, 255, 255);
  font-size: 1.5em;
}

.shadow {
  box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.2);
}

.darken-bg {
  position: fixed;
  top: 64px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.welcome {
  color: rgb(232, 21, 96);
  padding-bottom: 20px;
}

.welcome-body {
  line-height: 1.75em;
}


.left-text {
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  padding-right: 2em;
  display: inline-block;
  cursor: pointer;  
}

.right-text {
  text-transform: uppercase;
  color: rgb(253, 170, 59);
  display: inline-block;
  cursor: pointer;  
}

.author {
  color: rgb(105, 105, 105);
  padding: .75em 0 0 0;
}

.article-issue {
  color: rgb(105, 105, 105);
  padding: 0 0 .75em 0;
}

.book-img {
  height: 150px;
}

.book-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.card {
  overflow: hidden;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  max-width: 675px;
}

.book-size {
  max-height: 200px;
}

.article-img {
  width: 100%;
}

.article-text {
  line-height: 1.5em;
}

.book-card {
  display: flex;
  flex-direction: row;
  height: 150px;
  background-color: white;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.element {
  flex-grow: inherit;
}

.article-card {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.card-img-container {
  flex-grow: inherit;
}

.card-body {
  padding: 1.75em;
  flex-grow: 1;
}

.card-footer {
  border-top: rgb(223, 223, 223) solid 1px;
  padding: 1.2em;
  font-size: 1.25em;
}

.book-form input[type="text"],
.book-form input[type="url"],
.book-form select {
  box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: inherit;
  height: 45px;
}

.book-form input[type="button"],
.book-form input[type="submit"]{
  border: none;
  font-size: 1.25em;
  cursor: pointer;
  background-color: inherit;
  padding-left: 0;
}

.book-form input[type="button"]:hover,
.book-form input[type="submit"]:hover {
}

.hide {
  display: none;
}

.nav-link {
  color: rgb(0, 0, 0);
}

.menu-btn {
  cursor: pointer;
  margin-right: 20px;
  border: none;
}

.svg-ic_open_menu {
  opacity: .6;
  width: 2em;
  height: 2em;
  background: url(../assets/icons/ic_menu_24px.svg) 50% 50%;
}

.svg-ic_close_menu {
  opacity: .6;
  width: 2em;
  height: 2em;
  background: url(../assets/icons/ic_close_24px.svg) 50% 50%;
}

@media screen and (min-width: 21em) {
  body {
    font-size: 80%;
  }
}

@media screen and (min-width: 28.75em) {
  body {
    font-size: 95%;
  }

  .book-img {
    height: 200px;
  }

  .book-card {
    height: 200px;
  }

  .card {
    max-width: 800px;
  }
}

@media screen and (min-width: 40.5em) {
  body {
    font-size: 100%;
  }

  ul {
    flex-direction: row;
  }

  .menu-btn {
    display: none;
  }

  nav.top-bar {
    display: flex;
    position: static;
    padding: 0;
  }

  .darken-bg {
    display: none;
  }

  nav li {
    border-bottom: none;
  }

  header {
    flex-flow: row wrap;
    height: 100%;
  }
}

@media all and (min-width: 600px) {
  .column {
    flex: 1 auto;
  }
}
